services:
  mysql:
    image: mysql:8.3
    environment:
      MYSQL_ROOT_PASSWORD: 123
      MYSQL_DATABASE: quotes
    volumes:
      - mysql_data:/var/lib/mysql
      - ../mysql:/docker-entrypoint-initdb.d:ro
    networks: [quotes-net]

  nats:
    image: nats:2.10-alpine
    command: ["-js"]
    ports:
      - "4222:4222"   
      - "8222:8222"
    networks: [quotes-net]
    healthcheck:
      test: ["CMD", "sh", "-c", "nc -z 127.0.0.1 4222"]
      interval: 5s
      timeout: 3s
      retries: 10    

  rabbitmq:
    image: rabbitmq:3.13-management
    environment:
      RABBITMQ_DEFAULT_USER: quotes
      RABBITMQ_DEFAULT_PASS: 123
    command:
      - bash
      - -c
      - >
        rabbitmq-plugins enable --offline rabbitmq_stream rabbitmq_stomp &&
        rabbitmq-server
    ports:
      - "5672:5672"
      - "15672:15672"
      - "5551:5551"
      - "5552:5552"
      - "61613:61613"
    volumes:
      - rabbit_data:/var/lib/rabbitmq
    networks: [quotes-net]
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5   

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks: [quotes-net]

  go_quotes:
    build:
      context: ../go_quotes
      dockerfile: Dockerfile
    environment:
      NATS_URL: nats://nats:4222
    depends_on:
      - nats
      # nats:
      #   condition: service_healthy
    networks: [quotes-net]

  vue_web:
    build:
      context: ../vue_web
      dockerfile: Dockerfile
    ports:   
      - "8080:80"
    depends_on: [java_svc]
    networks: [quotes-net]

  java_svc:
    build:
      context: ../java_svc
      dockerfile: Dockerfile
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/quotes?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Taipei
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 123
      NATS_URL: nats://nats:4222
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_STREAM_NAME: quotes.stream  
      RABBITMQ_CONSUMER_NAME: quotes-listener
      RABBITMQ_STOMP_PORT: 61613     
      RABBITMQ_VHOST: /
      RABBITMQ_STREAM_PORT: 5552
      RABBITMQ_USERNAME: quotes
      RABBITMQ_PASSWORD: 123
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      mysql:
        condition: service_started
      nats:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    networks: [quotes-net]

  web-gateway:                    
    build:
      context: ..
      dockerfile: deploy/nginx/Dockerfile  
    container_name: quote-nginx
    restart: unless-stopped
    depends_on: [java_svc]
    ports:
      - "8300:80"
    environment:
      - NGINX_ENTRYPOINT_QUIET_LOGS=1
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks: [quotes-net]

volumes:
  mysql_data:
  rabbit_data:

networks:
  quotes-net:
    driver: bridge